html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}
body, .app {
  background: #f5f5f5;
}

mark {
  background-color: Black;
  color: #F8F8FF;
  border-radius:10px;
  padding:3px;
}

.textright {
    text-align: right;
}

.column {
    float: left;
}

.left {
  width: 15%;
}

.right {
  width: 85%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

.icon-btn {
  background: none;
  border: none;
}


.open-addform {
  /*position: fixed;*/
  right: 25px;
  bottom: 25px;
  margin: auto;
  width: 25%;
}

.open-addform a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2F4F4F;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

.center {
    text-align: center;
}

.list-posts-title {
  padding: 10px 0;
  background: #2F4F4F;
  text-align: center;
}
.list-posts-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.close-create {
  display: block;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}

.create-post-form {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}

.create-post-details input {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
}

/* ListPosts */

.add-post {
  display: block;
  width: 73px;
  background: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  font-size: 0;
}

.post-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.post-list-item {
  padding: 20px;
  background: white;
  display: flex;
}

@media (min-width: 600px) {
  .post-list-item {
    margin: 20px;
    border: 1px solid #d5d8df;
    border-radius: 4px;
  }
}

.post-details {
  padding-left: 20px;
  border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  width: 120px;
  height: 30px;
  line-height: 1px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2F4F4F;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}

.button:hover {background-color: #778899}

.button:active {
  background-color: #2F4F4F;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.footer {
  padding: 10px 0;
  background: #111112;
  color: #ccc;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-bottom: 2rem;
  }
}
